body{
  background-color: white;
margin-left: 15px;
margin-right: 9px;
  
 
  
  
}
.am{
  padding-top: 8px;
  margin: 3px;
}
.an{
  width: 33px;
  height: 35px;
  border-radius: 100px;
  
}
.as{
  text-transform: capitalize;
  font-size: 12px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 8px;
  
}
.at{
  width: 28px;
  height: 22px;
  padding-left: 60px;
}
.by{
  width: 19px;
  height: 19px;
  padding-left: 18px;
  padding-top: 4px;
}
.be{
  width: 23px;
  height: 25px;
  padding-left: 18px;
}
.do{
  width: 14px;
  height: 16px;
  border-radius: 100px;
}
.go{
  font-size: 12px;
}
.no{
  width: 16px;
  height: 13px;
  border-radius: 100px;
}
#so{
  padding-left: 25px;
}
#to{
  width: 280px;
  padding: 8px;
  background-color: #17BE6F;
  color: white;
  margin-top: 15px;
  border-radius: 10px;
}
.of{
  font-weight: bold;
  font-size: 18px;
}
.on{
  color: #17BE6F;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  border: 1px solid white;
  padding: 8px 12px;
  text-transform: capitalize;
  margin-left: 70px;
  font-size: 12px;
  
}
.or{
  padding-bottom: 3px;
}
#ox{
  width: 290px;
 
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.19), 0 3px 10px 0 rgba(0,0,0,0.17);
  }
  .if{
    width: 25px;
    height: 25px;
    border-radius: 100px;
    padding: 8px;
  }
  .uu{
    font-size: 10px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .uv{
    font-size: 9px;
    text-transform: capitalize;
  }
  #tt{
   padding-left: 50px;
  }
  #hh{
    color: #17BE6F;
    font-weight: bold;
  }
  #sd{
    padding-right: 35px;
  }
  #hm{
    color: #17BE6F;
  }
  .oo{
    width: 30px;
    height: 35px;
    padding: 3px 30px;
  }
  .op{
    font-size: 11px;
    text-transform: Capitalize;
    padding-left: 25px;
    padding-bottom: 5px;
  }
  .ou{
    width: 33px;
    height: 33px;
    border-radius: 100px;
    padding: 3px 18px;
  }
  .fd{
    font-size: 13px;
    font-weight: bold;
    text-transform: Capitalize;
    margin: 8px;
  }
  #jj{
    margin-left: 85px;
    
  }
  #gs{
    color: white;
    background-color: #17BE6F;
    border: 1px solid #17BE6F;
    border-radius: 16px;
    padding: 5px 12px;
    margin-right: 15px;
    font-weight: bold;
  }
  #na{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: white;
    padding: 8px;
  }
  .fc{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    padding-right: 45px;
  }
  #jh{
    width: 20px;
    height: 23px;
    margin-left:10px ;
    padding-right: 25px;
  }
  .oh{
    color: black;
    font-size: 11px;
    text-transform: capitalize;
    text-align: center;
  }
  #kn{
    padding-left: 6px;
  }
  #sw{
    padding-bottom: 7px;
  }
 #cx{
   padding: 10px;
 }